@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Nunito|Nunito+Sans');
.mymilestone-container {
    display: grid;
    grid-template-columns: 50% auto;
    font-family: 'Nunito Sans', sans-serif;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    width: 100%;

}

.milestoneid-delete {
    text-align: right;
}

.delete-milestone {
    border: 0px;
    border-radius: 5px;
    padding: 0px;
    background-color: #FFFFFF;
}

.milestone-button {
    width: 235px;
    border: 0px;
    border-radius: 5px;
}

.delete-milestone {
    width: 110px;
}

.milestone-titlerow {
    text-align: center;
}

.milestoneid-icon,
.milestoneid-milestone,
.milestoneid-date,
.milestoneid-delete {
    border: 1px solid;
}

.milestone-element-1,
.milestone-element-2a,
.milestone-element-2b,
.milestoneid-icon,
.milestoneid-milestone,
.milestoneid-date,
.milestoneid-delete {
    padding: 5px;
}

.milestone-element-1,
.milestone-element-2a,
.milestone-element-2b,
.milestoneid-icon,
.milestoneid-milestone,
.milestoneid-delete,
.milestone-element-3,
.milestone-titlerow {
    grid-column-end: span 2;
}

.milestone-element-1,
.milestoneid-icon,
.milestoneid-milestone,
.milestoneid-date,
.milestone-element-2a {
    font-size: 20px;
}

.milestone-titlerow {
    font-size: 30px;
}

.milestone-align-right {
    text-align: right;
}

@media screen and (min-width:721px) {
    .delete-milestone {
        width: 130px;
    }
    .milestone-button {
        width: 275px;
    }
    .milestone-element-1,
    .milestoneid-icon,
    .milestoneid-milestone,
    .milestoneid-date,
    .milestone-element-2a {
        font-size: 24px;
    }
    .milestone-titlerow {
        font-size: 36px;
    }
    .mymilestone-container {
        grid-template-columns: 17% 17% 16% 16% 17% 17%;
    }
    .milestone-element-1,
    .milestoneid-delete,
    .milestone-element-3,
    .milestoneid-milestone,
    .milestone-titlerow {
        grid-column-end: span 6;
    }
    .milestone-element-2a {
        grid-column-end: span 2;
    }
    .milestone-element-2b {
        grid-column-end: span 4;
    }


    .milestoneid-date {
        grid-column-end: span 3;
    }
    .milestoneid-icon {
        grid-column-end: span 1;
    }
}

@media screen and (min-width:1081px) {
    .milestone-titlerow {
        font-size: 40px;
    }
    .delete-milestone {
        width: 160px;
    }
    .milestoneid-icon {
        grid-column-end: span 2;
    }

    .milestoneid-date {
        grid-column-end: span 6;
    }
    .milestone-element-3 {
        grid-column-end: span 6;
    }
    .milestone-button {
        width: 300px;
    }
    .milestone-element-1,
    .milestoneid-icon,
    .milestoneid-milestone,
    .milestoneid-date,
    .milestone-element-2a {
        font-size: 30px;
    }

    .mymilestone-container {
        grid-template-columns: 8% 8% 9% 8% 8% 9% 8% 8% 9% 8% 8% 9%;
    }
    .milestone-element-2a {
        grid-column-end: span 4;
    }
    .milestone-element-2b {
        grid-column-end: span 8;
    }
    .milestone-element-1,
    .milestoneid-delete,
    .milestoneid-milestone,
    .milestone-titlerow {
        grid-column-end: span 12;
    }


}
