.proposal-container {
    display: grid;
    font-family: 'Nunito Sans', sans-serif;
    grid-template-columns: 50% 50%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;

}

.proposal-title-row {
    font-size: 24px;
}

.proposal-main-row,
.proposallaborid-row-1a,
.materialproposal-large-a {
    font-size: 20px;
}

.proposal-title-row {
    text-align: center;
}


.invoices-button {
    width: 100%;
    background-color: #FFFFFF;
    border: 0px;
}


.proposal-title-row,
.proposal-main-row {
    grid-column-end: span 2;
}

.proposals-button,
.removeid-icon {
    border: 0px;
    background-color: #FFFFFF;
}

.removeid-icon {
    width: 100%;
    max-width: 43px;
    margin-left: 30px;
    position: relative;
    bottom: 5px;
}

.proposals-button {
    width: 100%;
    max-width: 250px;
}

@media screen and (min-width:721px) {
    .invoices-button {
        width: 70%;
    }
    .removeid-icon {
        max-width: 53px;
    }
    .proposal-main-row,
    .proposallaborid-row-1a,
    .materialproposal-large-a {
        font-size: 24px;
    }
    .proposals-button {
        max-width: 280px;
    }
    .proposal-title-row {
        font-size: 30px;
    }
    .proposal-title-row,
    .proposal-main-row {
        grid-column-end: span 6;
    }
    .proposal-container {
        grid-template-columns: 16% 17% 17% 17% 17% 16%;
    }
}

@media screen and (min-width:1081px) {
    .invoices-button {
        width: 50%;
    }

    .removeid-icon {
        max-width: 64px;
    }
    .proposal-main-row,
    .proposallaborid-row-1a,
    .materialproposal-large-a {
        font-size: 30px;
    }
    .proposals-button {
        max-width: 310px;
    }
    .proposal-title-row {
        font-size: 36px;
    }
    .proposallaborid-row-1a {
        grid-column-end: span 6;
    }
    .proposal-title-row,
    .proposal-main-row {
        grid-column-end: span 12;
    }
    .proposal-container {
        grid-template-columns: 8% 8% 9% 8% 8% 9% 8% 8% 9% 8% 8% 9%;
    }

}
