@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Nunito|Nunito+Sans');
.align-contentCenter,
.calendar-element{
    text-align:center;
}
.minHeight{
    min-height:60px;
}
.message-container{
    height:40px;
}
.addBottomMargin{
    margin-bottom:10px;
}
.addLeftMargin{
    margin-left:10px;
}
.laborcalendar-grid{
    margin:auto;
    width:100%;
    display:grid;
    grid-template-columns:14% 14% 14% 14% 14% 14% 14%;
    font-family: 'Nunito Sans', sans-serif;
}


.calendar-element{
    width:100%;
    max-width: 50px;
    max-height:50px
}
.alignRight{
    text-align:right;
}
.btn-removeIcon{
    width:82px;
    height:68px;
}
.time-button{
    width:62px;
    height:41px;
}

.saveAllProjectsIcon{
    width:276px;
    height:53px;
}
.timeinput-field{
    width:99%;
    max-width:65px;
}
.btn-clearlaborid{
    width:366px;
    height:76px;
}
.majorDownIcon{
    width:109px;
    height:66px;
}
.showBorder,
.calendar-element{
    border:1px solid;
}
.timecell-container{
    min-height: 180px;
    max-width:77px;
}
.timedisplay-container{
    min-height:60px;
}

.timecell-module{
    min-height:60px;
}
.calendar-element{
    font-size:18px;
}
.btn-clearmaterialid{
    width:345px;
    height:55px;

}
.alignTop{
vertical-align: top;
}
.activeproposal-container,.activeinvoice-container{
    border:4px solid;
}
.inactiveproposal,.inactiveinvoice{
    border:1px solid;
}
.invoiceid-container{
    min-height:44px;
    background-color: #F4E1E1;
    color: #912020;
    border-radius:5px;
    text-align:center;
    vertical-align: middle;
    
}
.proposalid-container{
    min-height:44px;
    background-color: #F0EDF9;
    color: #1F0B7F;
    
    border-radius:5px;
    text-align:center;
    vertical-align: middle;
    
}

.remove-item{
    width:41px;
    height:34px;
}
.create-proposal{
    width:234px;
    height:74px;
}
@media screen and (min-width:419px) {
    .calendar-element{
        font-size:20px;
        font-weight:500;
    }
}
@media screen and (min-width:721px) {
    .proposalid-container{
        min-height:70px;

    }
    .saveAllProjectsIcon{
        width:337px;
        height:75;
    }
    .remove-item{
        width:57px;
        height:47px;
    }
}
@media screen and (min-width:900px) {
    .calendar-element{
        max-width: 64px;
        max-height:64px
    }
}
@media screen and (min-width:1081px) {
    .remove-item{
        width:62px;
        height:54px;
    }
    .proposalid-container{
        min-height:80px;
        
    }
    .create-proposal{
        width:331px;
        height:81px;
    }
    .calendar-element{
        max-width: 77px;
        max-height:77px
    } 
    
}