@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Nunito|Nunito+Sans');
.align-contentCenter{
    text-align:center;
}
.showBorder{
    border:1px solid;
}
.timecell-container{
    min-height: 180px;
}
.timedisplay-container{
    min-height:60px;
}
.calendar-container{
    min-height: 540px;
}
.timecell-module{
    min-height:60px;
}
@media screen and (min-width:539px) {

}

@media screen and (min-width:1081px) {
    
}