@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Nunito|Nunito+Sans');
.showinvoice-container {
    display: grid;
    grid-template-columns: 50% auto;
    font-family: 'Nunito Sans', sans-serif;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.showinvoice-titlerow {
    font-size: 30px;
}

.showinvoice-spanall,
.showinvoice-display {
    font-size: 20px;
}

.showinvoice-titlerow {
    text-align: center;
}

.showinvoice-titlerow,
.showinvoice-spanall,
.showinvoice-display{
    grid-column-end: span 2;
}

@media screen and (min-width:721px) {

    .showinvoice-titlerow {
        font-size: 40px;
    }
    .showinvoice-spanall,
    .showinvoice-display {
        font-size: 24px;
    }
    .showinvoice-titlerow,
    .showinvoice-spanall,
    .showinvoice-display {
        grid-column-end: span 6;
    }

    .showinvoice-container {
        grid-template-columns: 17% 17% 17% 17% 16% auto;
    }

}

@media screen and (min-width:1081px) {
    .showinvoice-display {
        grid-column-end: span 12;
    }
    .showinvoice-container {
        grid-template-columns: 8% 8% 9% 8% 8% 9% 8% 8% 9% 8% 8% auto;
    }

    .showinvoice-spanall,
    .showinvoice-display {
        font-size: 30px;
    }
    .showinvoice-titlerow,
    .showinvoice-spanall {
        grid-column-end: span 12;
    }
}
