@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Nunito|Nunito+Sans');
.viewprofile-container {
    display: grid;
    font-family: 'Nunito Sans', sans-serif;
    grid-template-columns: 50% 50%;
    grid-row-gap: 15px;
    grid-column-gap: 30px;
    margin-top: 20px;
}

.profile-linkcontainer {
    font-family: 'Nunito Sans', sans-serif;
    color: #AED3E3;
    color: rgb(174, 211, 227);
    -webkit-text-stroke: 1px #000000;
}

.network-link {
    text-decoration: none;
    color: #AED3E3;
    -webkit-text-stroke: 1px #000000;
}

.profile-linkcontainer {
    font-size: 30px;
    letter-spacing: 0.6px;
}

.viewprofile-picture,
.viewprofile-displaytext,
.profile-linkcontainer {
    grid-column-end: span 2;
}

.viewprofile-picture,
.viewprofile-displaytext {
    font-size: 20px;
}

.viewprofile-picture,
.viewprofile-displaytext,
.profile-linkcontainer {
    text-align: center;
}

.viewprofile-picture-container {
    width: 240px;
    max-height: 240px;
    margin: auto;
}

.hidden-link {
    text-decoration: none;
    color: #000000;
}

@media screen and (min-width:721px) {
    .viewprofile-displaytext {
        font-size: 24px;
    }
    .viewprofile-picture-container {
        width: 320px;
        max-height: 320px;

    }
    .viewprofile-picture,
    .viewprofile-displaytext,
    .profile-linkcontainer {
        grid-column-end: span 6;
    }
    .viewprofile-container {
        grid-template-columns: 17% 17% auto 17% 16% 17%;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
    }
    .profilelink-container {
        font-size: 36px;
        letter-spacing: 0.72px;
    }
}

@media screen and (min-width:1081px) {
    .profilelink-container {
        font-size: 40px;
        letter-spacing: 0.8px;
    }
    .viewprofile-displaytext {
        font-size: 30px;
    }
    .viewprofile-picture-container {
        width: 375px;
        max-height: 375px;

    }
    .viewprofile-picture,
    .viewprofile-displaytext,
    .profile-linkcontainer {
        grid-column-end: span 12;
    }
    .viewprofile-container {
        grid-template-columns: 8% 8% 9% 8% 8% auto 8% 8% 9% 8% 8% 9%;

    }

}
