@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Nunito+Sans:400,600|Roboto:400,700&display=swap');
.appbody-container {
  width: 98%;
  margin: auto;
}
.calendar-grid {
  max-width:540px;
  display: grid;
  grid-template-columns: 15% 14% 14% 14% 14% 14% 15%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin:auto;
}

.active-milestone-calender{
  background-color: #B2EDAB;
}
.addStroke{
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}
.updateprojects-1{fill:#a00;}.updateprojects-2{fill:#fff;font-family:NunitoSans-SemiBold, 'Nunito Sans';font-size:48px;font-weight:600;stroke:#000;stroke-miterlimit:10;}
.rightarrow-1{fill:#003831;stroke:#000;stroke-miterlimit:10;}
.addicon-1{font-family:NunitoSans-Regular, Nunito Sans;;font-size:27.15px;}.addicon-2{fill:#999;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}
.saveprofileicon-1{fill:#db9f19;}.saveprofileicon-1,.saveprofileicon-2{stroke:#000;stroke-miterlimit:10;}.saveprofileicon-2{font-size:72px;fill:#f9f7f7;stroke-width:0.25px;font-family:NunitoSans-SemiBold, Nunito Sans;font-weight:600;}.saveprofileicon-3{letter-spacing:-0.01em;}.saveprofileicon-4{letter-spacing:0em;}.saveprofileicon-5{letter-spacing:-0.01em;}.saveprofileicon-6{letter-spacing:0em;}
.applogo-1,.applogo-3{fill:#8c1837;}.applogo-1,.applogo-2{stroke:#000;stroke-miterlimit:10;}.applogo-1{stroke-width:2px;}.applogo-2{fill:none;}.applogo-4{font-size:21.44px;font-family:NunitoSans-Regular, Nunito Sans;}.applogo-5{letter-spacing:-0.01em;}.applogo-6{letter-spacing:0em;}.applogo-7{letter-spacing:0em;}.applogo-8{letter-spacing:0.06em;}.applogo-9{letter-spacing:-0.04em;}.applogo-10{letter-spacing:-0.06em;}.applogo-11{letter-spacing:-0.02em;}.applogo-12{letter-spacing:-0.02em;}
.menuicon-1{fill:#8c1837;}.menuicon-1,.menuicon-2{stroke:#000;stroke-miterlimit:10;}
.menuicon-2{stroke-width:2px;}
.applesign-1{fill:#03033d;stroke-width:2px;}.applesign-1,.applesign-2{stroke:#333;}.applesign-1,.applesign-2,.applesign-3{stroke-miterlimit:10;}.applesign-2,.applesign-3{fill:#fff;stroke-width:0.5px;}.applesign-3{font-size:82.23px;stroke:#000;font-family:Roboto-Bold, Roboto;font-weight:700;}.applesign-4{letter-spacing:-0.02em;}
.googlesign-1{fill:#ed355d;}.googlesign-1,.googlesign-2{stroke:#000;stroke-miterlimit:10;}.googlesign-2{font-size:82.23px;fill:#fff;stroke-width:0.5px;font-family:Roboto-Bold, Roboto;font-weight:700;}.googlesign-3{fill:#ca4b3a;}.googlesign-4{fill:#68a851;}.googlesign-5{fill:#607ef4;}.googlesign-6{fill:#e9bf06;}
.cls-1{fill:#fff;}.cls-1,.cls-2{stroke:#231f20;stroke-miterlimit:10;}.cls-2{fill:#949494;}
.touchtoedit-1{fill:#e3e3e3;}.touchtoedit-1,.touchtoedit-6,.touchtoedit-7,.touchtoedit-9{stroke:#000;stroke-miterlimit:10;}.touchtoedit-2{font-size:8px;font-family:NunitoSans-Regular, Nunito Sans;}.touchtoedit-3{letter-spacing:-0.07em;}.touchtoedit-4{letter-spacing:-0.01em;}.touchtoedit-5{letter-spacing:0em;}.touchtoedit-6{fill:#ffe0b5;}.touchtoedit-6,.touchtoedit-7{stroke-width:0.75px;}.touchtoedit-7,.touchtoedit-9{fill:none;}.touchtoedit-8{fill:#f9efd8;}
.gotoicon-1{fill:#8C1837;stroke:#000;stroke-miterlimit:10;stroke-width:0.5px;}
.milestonediagram-1{font-size:36px;font-family:NunitoSans-Regular, Nunito Sans;}
.milestonediagram-2{letter-spacing:0em;}.milestonediagram-3,.milestonediagram-6{fill:none;}
.milestonediagram-3{stroke:blue;stroke-width:10px;}
.milestonediagram-3,.milestonediagram-4,.milestonediagram-5,.milestonediagram-6{stroke-miterlimit:10;}
.milestonediagram-4{fill:lime;}
.milestonediagram-4,.milestonediagram-5,.milestonediagram-6{stroke:#000;}
.milestonediagram-5{fill:#f0f;}
@media screen and (min-width:1081px) {}
