@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Nunito+Sans:400,600|Roboto:400,700&display=swap');
.appbody-container {
  width: 98%;
  margin: auto;
}
.calendar-grid {
  max-width:540px;
  display: grid;
  grid-template-columns: 15% 14% 14% 14% 14% 14% 15%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin:auto;
}
.active-milestone-calender{
  background-color: #B2EDAB;
}
.addStroke{
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}
@media screen and (min-width:1081px) {}
